.App {
  min-height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.35);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.65);
}
